{%extends './base.html'%}
{%block content%}
    <div class="d-flex flex-column align-items-center">
        <div class="">
        <h1>Contact Form</h1>
        <form method="POST" class="form" novalidate>
            {% csrf_token %}
            <div class="row">
                {{ form.as_div}}
                <center>
                    {% comment %} <a href="mailto:xyz@gmail.com"> {% endcomment %}
                    <br>
                        <button type="submit"class="btn btn-success px-5">Send</button>
                    {% comment %} </a> {% endcomment %}
                </center>
            </div>
        </form>
        </div>
        
    </div>

{%endblock%}

    